{{define "base"}}
  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style>
      label, button { display: block; }
      textarea { width: 400px; height: 100px; }
    </style>
  </head>
  <body>

  <h3>SQL Injection Test</h3>

  <p><a href="/">Refresh</a></p>

  <form method="post">
    <label for="msg">Message:</label>
    <textarea id="msg" name="msg"></textarea>
    <button type="submit">Enter</button>
  </form>

  <p>{{with .PostMessage}}Posted: {{.}}{{end}}</p>

  {{if .Messages}}
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Message</th>
      </tr>
      </thead>
      <tbody>
      {{range .Messages}}
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Message}}</td>
        </tr>
      {{end}}
      </tbody>
    </table>
  {{end}}
  
  </body>
  </html>
{{end}}